In [2]:
import pandas as pd

# Load the dataset
file_path = 'Space_Corrected.csv'
df = pd.read_csv(file_path)

In [3]:
#Inspecting the Data
print(df.info())
print(df.head())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sno               4324 non-null   int64
 1   Company Name      4324 non-null   object
 2   Location          4324 non-null   object
 3   Datum             4324 non-null   object
 4   Detail            4324 non-null   object
 5   Status Rocket     4324 non-null   object
 6   Cost (Million $)  964 non-null    object
 7   Status Mission    4324 non-null   object
dtypes: int64(1), object(7)
memory usage: 270.4+ KB
None
   Sno Company Name                                           Location  \
0    0       SpaceX         LC-39A, Kennedy Space Center, Florida, USA
1    1         CASC  Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...
2    2       SpaceX                      Pad A, Boca Chica, Texas, USA
3    3    Roscosmos       Site 200/39, Baikonur Cosmodrome, Kazakhstan
4    4          ULA           SLC-41, Cape Canaveral AFS, Florida, USA

                        Datum                                        Detail  \
0  Fri Aug 07, 2020 05:12 UTC  Falcon 9 Block 5 | Starlink V1 L9 & BlackSky
1  Thu Aug 06, 2020 04:01 UTC           Long March 2D | Gaofen-9 04 & Q-SAT
2  Tue Aug 04, 2020 23:57 UTC            Starship Prototype | 150 Meter Hop
3  Thu Jul 30, 2020 21:25 UTC  Proton-M/Briz-M | Ekspress-80 & Ekspress-103
4  Thu Jul 30, 2020 11:50 UTC                    Atlas V 541 | Perseverance

  Status Rocket Cost (Million $) Status Mission
0  StatusActive               50        Success
1  StatusActive            29.75        Success
2  StatusActive              NaN        Success
3  StatusActive               65        Success
4  StatusActive              145        Success
               Sno
count  4324.000000
mean   2161.500000
std    1248.375611
min       0.000000
25%    1080.750000
50%    2161.500000
75%    3242.250000
max    4323.000000

In [4]:
#Handling Mission values
print(df.isnull().sum())

Sno                    0
Company Name           0
Location               0
Datum                  0
Detail                 0
Status Rocket          0
Cost (Million $)    3360
Status Mission         0
dtype: int64